*{
    list-style: none;
}
.row{
    width: 100%;
}

/*estilos del header*/

.hero__container{
    padding-top: 50px;
    margin: 0;

}

.hero__logo{
    font-family: Manrope, bold;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: left;
    margin-top: 15px;

}

/*barra de navegacion*/

.narbar{
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500 , medium;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: left;
    
}

/*input*/

.form-inline{
    text-align: right;
    margin-top: 20px;

}

/*main*/

.sec__prin{
    margin: 30px auto;
}

.titulo{
    font-family: Manrope;
    font-size: 49px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 100px;
}
.parrafo{
    font-family: Manrope;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: left;
}

.primer__input{
    border-radius: 10px;
    width: 150px;
    height: 50px;
}

.conta__row{
    padding-top: 100px;
}
.img__conta{
    padding-top: 50px;
    background-image: url(../imagenes/Ellipse\ 1.png);
    z-index: -1;
    background-repeat: no-repeat;
    background-position: -2px 170px;

}
.card{
    float: left;
    z-index: 1;
    position: absolute;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 0px #e5e5e5;
    
}







/*Footer del main*/

.primera__section{
    margin-top: 40px;
}


/*subtitulos*/

.subti{
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #4D77FF;
    text-align: center;
    
}

.subti__section{
    font-family: Manrope, bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.015em;
    text-align: center;
    
    
}

/*articulos*/
.about {
    text-align: center;
}

.subtitle {
    margin-bottom: 25px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: left;
    
}

.about__title{
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: left;
    
}
p.abouŧ__parrafos {
    font-size: 12px;
    font-family: manrope;

}
   
.about__main {
    margin: 30px 100px;
    padding-bottom: 30px;
    display: grid;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.about__icons {
    display: grid;
    gap: 1em;
    overflow: hidden;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
   
}
.articulos{
    box-shadow: 0px 20px 19px 0px #E5E5E5;
    border-top: solid;
    border-color: #4D77FF;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

/*segunda seccion*/
.segunda__seccion{

    margin-top: 40px;
}

.segunda__row{
    padding-top: 60px;
}
.segundo__subti{
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D77FF;    
}
.segundo__titulo{
    font-family: Manrope, bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.015em;
    text-align: left;
    
}

.segundo__parrafo{
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
    
}


.img__cuadra{
    
    float: right;
}
.imagen__cuadrada{
    background-image: url(../imagenes/eclipse6.png);
    background-position: 4px 242px;
    z-index: -1;
    background-repeat: no-repeat;
}


/*tercera seccion*/

.tercera__seccion{
    padding-top: 70px;
}

.about__section{
    padding: 0px 200px 50px;
    display: grid;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
}

.section__title{
    font-family: Manrope, bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 30px;
    
}

.section__parrafos{
    font-family: Manrope, bold;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    
}

.cite{
    font-family: Manrope;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color:#696969;
    
    
}

.container__informativo{
    margin-top: 100px;
}

/*cuarta seccion*/
.cuarta__section{
  
    width: 100%;
    background-color: aliceblue;
    z-index: -1;
    height: 349px;
    margin-bottom: 180px;
    margin-top: 50px;
}

.section__row{
    padding-top: 90px;
}
    
.parrafo__tres{
    font-family: Manrope, regular;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.03em;
    text-align: left;
    padding-top: 63px;
    padding-bottom: 130px;
    
}

.imagen__doctor{
    width: 70%;
}


/*container footer*/

.conta__footer{
    padding-top: 200px;
    
}

.redes__titulo{
    
    font-family: Manrope, bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.03em;
    
}
span{
    color: #4D77FF;
}
.redes__titulo  ~ li {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.015em;
    text-align: left;
    
}

#footer{
    font-family: Manrope, bold;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.015em;
    text-align: justify;
    
}
/*responsive */

@media (min-width: 768px) and (max-width: 1199px){
    .img__conta {
        padding-top: 50px;
        background-image: url(../imagenes/Ellipse\ 1.png);
        z-index: -1;
        background-repeat: no-repeat;
        background-position: 14px 284px;;
    }

    .imagen__cuadrada {
        background-image: url(../imagenes/eclipse6.png);
        background-position: 94px 358px;
        z-index: -1;
        background-repeat: no-repeat;
    }
    .conta__footer{
        padding-top: 560px;
    }

    .form-inline{
        display: inline-flex;
        align-items: center;
    }

    
    
}

@media (max-width:800px){

    .form-inline{
        display: inline-flex;
        align-items: center;
    }


    .grid{
        gap: 2em;
        display: flex;
        grid-template-columns: minmax(9em, 1fr);
        flex-direction: column;
        margin: auto;
        padding: initial;
    }

    .titulo{
        font-size: 30px;
        line-height: 50px;
    }

    .primer__input{
        width: auto;
        height: 50px;
    }

    .conta__footer{
        padding-top: 450px;
    }

    .subti__section {
        font-size: 25px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0.015em;
     
    }
    .segundo__titulo {
        font-size: 25px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0.015em;
    
    }

    .parrafo__tres {
        font-family: Manrope, regular;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0.03em;
        text-align: left;
        padding-top: 63px;
        padding-bottom: 120px;
    }

    .card {
        float: left;
        z-index: 1;
        position: absolute;
        border-radius: 15px;
        box-shadow: 0px 0px 30px 0px #e5e5e5;
        width: 150px;
    }

}

@media (max-width:600px){

    .form-inline{
        display: inline-flex;
        align-items: center;

    }


    .grid{
        gap: 2em;
        display: flex;
        grid-template-columns: minmax(9em, 1fr);
        flex-direction: column;
        margin-left: auto;
        padding: initial;

    }
    .conta__footer{
        padding-top: 350px;
    }
   
    .titulo{
        font-size: 20px;
        line-height: 40px;
    }

    .subti__section {
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0.015em;
     
    }

    .segundo__titulo {
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0.015em;
    
    }

    .img__conta {
        padding-top: 50px;
        background-image: url(../imagenes/Ellipse\ 1.png);
        z-index: -1;
        background-repeat: no-repeat;
        background-position: -13px 155px;
    }

    .card {
        float: left;
        z-index: 1;
        position: absolute;
        border-radius: 15px;
        box-shadow: 0px 0px 30px 0px #e5e5e5;
        width: 150px;
    }

}


@media (max-width:480px) and (min-width:280px){
    .img__conta {
        padding-top: 50px;
        background-image: url(../imagenes/Ellipse\ 1.png);
        z-index: -1;
        background-repeat: no-repeat;
        background-position: -210px 130px;
    }

    .imagen__cuadrada {
        background-image: url(../imagenes/eclipse6.png);
        background-position: -69px 144px;
        z-index: -1;
        background-repeat: no-repeat;
    }
    .card {
        float: left;
        z-index: 1;
        position: absolute;
        border-radius: 15px;
        box-shadow: 0px 0px 30px 0px #e5e5e5;
        width: 100px;
    }
}