
/*estilos del header*/

.hero__container{
    padding-top: 50px;

}

.hero__logo{
    font-family: Manrope;
    font-size: 24px;
    font-weight: 700, bold;
    letter-spacing: 0.03em;
    text-align: left;
    margin-top: 15px;

}

/*barra de navegacion*/

.narbar{
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500 , medium;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: left;
    
}

/*input*/

.form-inline{
    text-align: right;
    margin-top: 20px;

}

/*main*/

.sec__prin{
    margin: 30px auto;
}

.titulo{
    font-family: Manrope;
    font-size: 49px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 100px;
}
.parrafo{
    font-family: Manrope;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: left;
}

.primer__input{
    border-radius: 10px;
    width: 150px;
    height: 50px;
}

.conta__row{
    padding-top: 100px;
}
.img__conta{
    padding-top: 50px;
    background-image: url(../imagenes/Ellipse\ 1.png);
    z-index: -1;
    background-repeat: no-repeat;
    background-position: -13px 155px;

}

.img2{
    z-index: 1;
    width: 100%;
}


/*Footer del main*/

.primer__footer{
    margin-top: 40px;
}


/*subtitulos*/

.subti{
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #4D77FF;
    text-align: center;
    
}

.subti__footer{
    font-family: Manrope, bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.015em;
    text-align: center;
    
}

/*articulos*/
.about {
    text-align: center;
}

.subtitle {
    margin-bottom: 25px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: left;
    
}

.about__title{
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: left;
    
}
p.abouŧ__parrafos {
    font-size: 12px;
    font-family: manrope;

}
   
.about__main {
    padding: 30px;
    display: grid;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    grid-template-columns: 1fr 1fr 1fr 1fr;


}
.about__icons {
    display: grid;
    gap: 1em;
    overflow: hidden;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
   
}
.articulos{
    box-shadow: 0px 20px 19px 0px #E5E5E5;
    border-top: solid;
    border-color: #4D77FF;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

.about__icon {
    width: 40px;
}


/*segunda seccion*/
.segunda__seccion{

    margin-top: 40px;
}

.segunda__row{
    padding-top: 60px;
}
.segundo__subti{
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D77FF;    
}
.segundo__titulo{
    font-family: Manrope, bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.015em;
    text-align: left;
    
}

.segundo__parrafo{
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
    
}


.img__cuadra{
    
    float: right;
}
.imagen__cuadrada{
    background-image: url(../imagenes/eclipse6.png);
    background-position: 4px 242px;
    z-index: -1;
    background-repeat: no-repeat;
}


/*tercera seccion*/

.tercera__seccion{
    padding-top: 70px;
}


/*cuarta seccion*/
.cuarta__section{
    padding-top: 100px;
    
}
.parrafo__tres{
    font-family: Manrope, regular;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.03em;
    text-align: left;
    padding-top: 63px;
    padding-bottom: 130px;
    
}


/*container footer*/

.container__foter{
    padding-top: 100px;
    
}